body{
    font-size: 20px;
    font-weight: 300;
    background-color: #fff;
    color: #202020;
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.cimg{
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.i{
    color: #eed80f;
}

.carousel-caption{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -55%);
}

.slogan{
    display: inline-block;
    padding: 50px 20px;

    font-weight: 250px;
}

.a{
    color: #000;
}

.carousel-caption h1{
    margin: 0;
    color: #fff;
    font-size: 500%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.carousel-caption .btn:link,
.carousel-caption .btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #eed80f;
    border: 1px solid #eed80f;
    color: #ffffff;
    border-radius: 5px;
}

.carousel-caption .btn:hover,
.carousel-caption .btn:active{
    background-color: #000;
    border: 1px solid #000;
    color: #ffffff;
    border-radius: 5px;
}



.bthead{
    position: absolute;
    top: 120%;
    left: 45%;
}



.form-control{
    font-size: 0.2rem, 0.05rem;
}

.cat-custom:link,
.cat-custom:visited{
    color: #ffffff;
}

.cat-custom:hover,
.cat-custom:active{
    color: #f1fcfc;
}

.demo{padding:45px 0}
.product-grid2{position:relative;}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto;border-radius: 10px;}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute; bottom:20px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#202020;background-color:#fff;font-size:70%;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#eed80f;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{color:#fff;background-color:#000;font: size 50%;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#202020;font-size:60%;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#000;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#000;color:#fff;font-size:70%;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#000}
.product-grid2 .title a:hover{color:#000}
.product-grid2 .price{color:#000;font-size:60%}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}}

.container{
    padding-top: 70px;
}

.container .h3{
    font-weight: 300;
    padding-left: 30px;
    padding-bottom: 10px;
}

.container .h3 .a{
    font-weight: 300;
}

.container ion-icon{
    font-size: 20px;
    padding-top: 13px;
    color: #eed80f;
    --ionicon-stroke-width: 40px;
}

.container ion-icon:hover,
.container ion-icon:active{
    color: #fff;
}

a{
    text-decoration: none;
}

.add-to-cart{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*=============ad carousel===========*/
.ad-carousel-item{
    height:450px;
}

.ad-img
{
   position: absolute;   
    top: 50%;
    transform: translateY(-50%);
}

/*============cards==============*/
.supser{
    padding:40px 100px;
}

.supser .card{
    border-radius: 10px;
}

.supser .btn-primary:link,
.supser .btn-primary:visited{
    background-color: #eed80f;
    border-color: #eed80f;
}

.supser .btn-primary:hover,
.supser .btn-primary:active{
    background-color: #000;
    border-color: #000;
    color: #ffffff;
}

.supser .b1:link,
.supser .b1:visited{
    color: #eed80f;
    border-color: #eed80f;
    background-color: #ffffff;
}

.supser .b1:hover,
.supser .b1:active{
    color: #ffffff;
    border-color: #000;
    background-color: #000;
}


/*===============packages===============*/

.package-slider .product-grid2 .product-image2 img{
    height: 200px;
}


.package-slider .b1:link,
.package-slider .b1:visited{
    color: #eed80f;
    border-color: #eed80f;
    background-color: transparent;
}

.package-slider .b1:hover,
.package-slider .b1:active{
    color: #ffffff;
    border-color: #000;
    background-color: #000;
}

.pack-btn{
    padding-bottom: 50px;
    padding-right: 30px;
}

.package-slider{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/sliderbackjpg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.al1{
    color: #ffffff;
}

.al:link,
.al:visited{
    color: #ffffff;
}

.package-slider .product-grid2 .title a{color:#ffffff}
.package-slider .product-grid2 .title a:hover{color:#000}
.package-slider .product-grid2 .price{color:#ffffff}

/*=================footer=============*/
.footer-top p{
    color: #ffffff;
    line-height: 25px;
    font-size: 13px;
}

.footer-top h3{
    color: #ffffff;
}

.footer-top h2{
    color: #ffffff;
    font-size: 18px;
}

.footer-top{
    background-color: #000;
    padding: 0 0;
    padding-bottom: 10px;
}


.footer-top .segment-two h3{
    color: #ffffff;
    margin: 10px 0;
}

.footer-top .segment-three h2:before,
.footer-top .segment-four h2:before{
    content: '|';
    font-weight: 400;
    color: #eed80f;
    padding-right: 10px;
}

.footer-top .segment-three ul{
    margin: 10px;
    padding: 0;
    list-style: none;
}

.footer-top .segment-three li{
    border-bottom: 1px solid rgba(225, 225, 225, 0.3);
    line-height: 30px;
    color: rgba(225, 225, 225, 0.3);
}

.footer-top .segment-three li a:link,
.footer-top .segment-three li a:visited{
    color: rgba(225, 225, 225, 0.3);
    font-size: 15px;
    text-decoration: none;
}

.footer-top .segment-three li a:hover,
.footer-top .segment-three li a:active{
    color: #eed80f;
}

.footer-top .segment-four a:link,
.footer-top .segment-four a:visited{
    padding-right: 20px;
    font-size: 20px;
    color: rgba(225, 225, 225, 0.3);
    text-decoration: none;
}

.footer-top .segment-four a:hover,
.footer-top .segment-four a:active{
    color: #eed80f;
}

.footer-logo{
    height:150px;
    width: auto;
}
/*============navbar==================*/

.bg-dark {
    background:transparent !important;
    transition:0.75s ease;
}
.bg-dark.scrolled {
    background:#000 !important;
}

.nav-logo{
    height: 36px;
    width: auto;
}

.dropdown{
    margin-right: 10px;
}

.nav-search.navbar-nav{
    font-size: 1rem;
}

.nav-search .form-control{
    font-size: 1rem;
    height: 36px;
}

.nav-search .btn{
    height: 36px;
    background-color: transparent;
    border-color: #eed80f;
    color: #eed80f;
}

.nav-search .btn:hover,
.nav-search .btn:active{
    height: 36px;
    background-color: #eed80f;
    border-color: #eed80f;
    color: #fff;
}

.nav-el:link,
.nav-el:visited{
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.nav-el:active,
.nav-el:hover{
    border-bottom: 2px solid #eed80f;
}
